#fondo{
    background-color: black;
    margin: auto;
    width: 800px;
    height: 460px;
}

#pelota{
    background-color: yellow;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: auto;
}

.botones{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin: auto;
}

.linea{
    width: 100%;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo{
    color: white; 
}